.App {
  text-align: center;
}

.traffic-light {
  width: 120px; 
  height: 380px; 
  border: 3px solid #555;
  background: black;
  margin-top: 10px;
  align-items:center;
  padding-top: 10px;
}

.circle1 {
  width: 100px;
  height: 100px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin-left: 1px;
  background: red;
}

.circle2 {
  width: 100px;
  height: 100px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin-left: 1px;
  background:yellow;
}

.circle3 {
  width: 100px;
  height: 100px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin-left: 1px;
  background: rgb(43, 190, 43);
}


.light-on {
  opacity: 0.95;
  box-shadow: 0px 0px 40px 20px white;
}